@media (max-width: 1200px) {
  .catalog-section {
    &__content {
      gap: 16px;
    }
    &__page {
      &-filters,
      &-list {
        gap: 16px;
      }
    }
  }

  .select2-container--default .select2-selection--single {
    width: 212px;
  }
}

@media (max-width: 1100px) {
  .catalog-section__page-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1023px) {
  .catalog-section {
    &__content {
      flex-direction: column;
      &-tab {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid $blackColor;
        border-radius: 0;
        &s {
          position: static;
          max-width: unset;
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .catalog-section {
    margin-bottom: 140px;
    &__page-top {
      flex-direction: column;
    }
    &__page {
      &-filters {
        align-items: center;
        justify-content: center;
      }
      &-list {
        grid-template-columns: 1fr;
      }
    }
  }

  .catalog-card {
    height: 320px;
  }
}
