.subservices-section {
  position: relative;
  margin-bottom: 143px;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__heading {
    max-width: 750px;
    margin-top: 144px - 62px;
    margin-bottom: 108px;
    font-weight: 700;
    font-size: 60px;
    @include fluid-font(320px, 1920px, 32px, 60px);
    line-height: 128%;
  }

  &__subtext {
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 700;
    @include fluid-font(320px, 1920px, 14px, 20px);
    line-height: 128%;
    color: $accentColor;
  }

  &__stat-list {
    width: 100%;
    max-width: 866px;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  &__stat-item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 12px;
  }

  &__stat-item-counter {
    width: 100%;
    border-bottom: 5px solid $accentColor;
    font-weight: 700;
    @include fluid-font(320px, 1920px, 32px, 60px);
    color: $blackColor;
  }

  &__stat-item-text {
    max-width: 337px;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 25px);
    line-height: 128%;
    color: $blackColor;
  }

  &__bg {
    position: absolute;
    top: -264px;
    right: 0;
    z-index: -1;
  }
}

.info-services-section {
  margin-bottom: 109px;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  &__content {
    width: 100%;
    padding: 58px 36px 62px 50px;
    border-radius: 20px;
    box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.1);
    background: $whiteColor;
  }

  &__content-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 26px;
    border-bottom: 3px solid $accentColor;
  }

  &__content-text {
    max-width: 860px;
    font-family: var(--font-family);
    font-weight: 400;
    @include fluid-font(320px, 1920px, 14px, 30px);
    line-height: 128%;
    color: #000;
  }

  &__content-btn {
    padding: 20px 34px;
    background-color: $blackColor;
    font-weight: 400;
    font-size: 21px;
    @include fluid-font(320px, 1920px, 14px, 21px);
    line-height: 128%;
    color: $whiteColor;
    border: 1px solid $blackColor;
    &:hover {
      border-color: $accentColor;
    }
  }

  &__subtext {
    margin-top: 38px;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 14px, 30px);
    line-height: 128%;
    color: $accentColor;
  }
}

.finished-projects-section {
  overflow: hidden;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__swiper {
    width: 100%;
    margin-bottom: 149px;
    overflow: visible;
  }
}

.subsection-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 55px;
  &__heading {
    margin-right: 39px;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 35px;
    @include fluid-font(320px, 1920px, 18px, 35px);
    line-height: 128%;
    text-transform: uppercase;
    color: $blackColor;
  }

  &__slides-navigation {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  &__slides-navigation-btn {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    @include click;
  }

  &__more-link {
    max-width: 333px;
    text-align: right;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 14px, 20px);
    line-height: 128%;
    color: $accentColor;
  }
}

.finished-project-card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.1);
  background: $whiteColor;
  padding-top: 28.17px;
  padding-right: 26.81px;
  padding-bottom: 30px;
  padding-left: 27.26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;

  &__img {
    width: 100%;
    height: 246px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  &__heading {
    font-weight: 400;
    @include fluid-font(320px, 1920px, 14px, 20px);
    line-height: 128%;
    color: $blackColor;
    padding-left: 19px;
    border-left: 6px solid $accentColor;
  }
}

.technology-section {
  margin-bottom: 159px;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__heading {
    margin-bottom: 17px;
    padding-bottom: 16px;
    border-bottom: 3px solid $accentColor;
    font-weight: 400;
    font-size: 35px;
    @include fluid-font(320px, 1920px, 18px, 35px);
    line-height: 128%;
    text-transform: uppercase;
    color: $blackColor;
  }

  &__text {
    max-width: 1204px;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 25px);
    line-height: 128%;
    color: $blackColor;
    margin-bottom: 180px;
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 42px;
  }

  &__tabs {
    width: 100%;
    max-width: 510px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  &__tabs-btn {
    width: 100%;
    border: none;
    font-family: $mainFont;
    background: none;
    padding: 27px 35px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 11px;
    cursor: pointer;
    border-bottom: 1px solid $accentColor;

    &.active {
      background-color: $blackColor;
      border: none;
      border-radius: 20px;
      .technology-section__tabs-btn-heading {
        color: $whiteColor;
      }
    }

    &:last-child {
      border: none;
    }
    &:hover {
      transform: scale(1.05);
    }

    @include click;
  }

  &__tabs-btn-category-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 31px;
    flex-wrap: wrap;
  }

  &__tabs-btn-category {
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 18px);
    line-height: 128%;
    color: $accentColor;
  }

  &__tabs-btn-heading {
    font-weight: 400;
    @include fluid-font(320px, 1920px, 16px, 25px);
    line-height: 128%;
    color: $blackColor;
  }

  &__tab-pages {
    position: relative;
    width: 100%;
    max-width: 894px;
    min-height: 647px;
  }

  &__tab-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 467px;
    box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding-top: 63px;
    padding-right: 57px;
    padding-bottom: 61px;
    padding-left: 43px;
    border-radius: 20px;
    transform: translateY(20%);
    opacity: 0;
    visibility: hidden;
    transition: $transitionTime;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
    }
  }

  &__tab-page-content {
    width: 100%;
    margin-bottom: 53px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 65px;
  }

  &__tab-page-preview {
    border-radius: 20px;
    width: 100%;
    max-width: 320px;
    height: 238px;
    object-fit: cover;
  }

  &__tab-page-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__tab-page-category-list {
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__tab-page-category-link {
    padding: 6px 16px;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 18px);
    color: $accentColor;
    border: 1px solid $accentColor;
    border-radius: 14px;
    transition: $transitionTime;
    &:hover {
      background-color: $accentColor;
      color: $blackColor;
    }
  }

  &__tab-page-heading {
    margin-bottom: 38px;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 14px, 20px);
    line-height: 128%;
    color: $blackColor;
  }

  &__tab-page-stats {
    width: 100%;
    height: 96px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 12px;
  }

  &__tab-page-stats-item {
    width: 100%;
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tab-page-stats-item-heading {
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 16px);
    line-height: 128%;
    color: $blackColor;
  }

  &__tab-page-stats-item-value {
    padding: 4px;
    width: 100%;
    max-width: 205px;
    border-radius: 14px;
    // box-shadow: 0 0 55px 15px rgba(0, 0, 0, 0.1);
    background: $accentColor;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 16px);
    line-height: 128%;
    color: $blackColor;
    text-align: center;
  }

  &__tab-page-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tab-page-text-link {
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 18px);
    line-height: 128%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $blackColor;
  }

  &__tab-page-link {
    padding: 18px 28px;
    border-radius: 14px;
    box-shadow: 0 0 55px 15px rgba(0, 0, 0, 0.1);
    background: $blackColor;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 18px);
    line-height: 128%;
    color: $whiteColor;
    transition: $transitionTime;
    border: 1px solid $blackColor;
    &:hover {
      color: $blackColor;
      background-color: transparent;
    }
    @include click;
  }
}

.dec-section {
  margin-bottom: 205px;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__heading {
    margin-bottom: 106px;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 18px, 35px);
    line-height: 128%;
    text-transform: uppercase;
    color: $blackColor;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    row-gap: 48px;
    column-gap: 42px;
  }

  &__list-item {
    width: 100%;
    height: 100%;
    min-height: 334px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 52px 62px;
    border-radius: 20px;
    box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.1);
    background: $whiteColor;
    transition: $transitionTime;
    &:hover {
      background-color: $blackColor;
      .dec-section__list-item-heading {
        color: $whiteColor;
      }
    }
  }

  &__list-item-heading {
    font-weight: 400;
    padding-left: 14px;
    border-left: 5px solid $accentColor;
    @include fluid-font(320px, 1920px, 18px, 35px);
    line-height: 128%;
    text-transform: uppercase;
    color: $blackColor;
  }
}

.license-section {
  overflow: hidden;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  &__swiper {
    width: 100%;
    margin-bottom: 164px;
    overflow: visible;
  }
}

.license-card {
  width: 100%;
  height: 292px;
  border-radius: 20px;
  box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.1);
  background: $whiteColor;
  padding: 65px 79px 40px 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  &__heading {
    padding-left: 23px;
    border-left: 5px solid $accentColor;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 14px, 20px);
    line-height: 128%;
    color: $blackColor;
  }

  &__download-link {
    margin: 0 auto;
    padding-left: 32px + 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-image: url("../../../assets/icons/pdf-icon.svg");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: left;

    font-weight: 400;
    @include fluid-font(320px, 1920px, 14px, 21px);
    line-height: 128%;
    color: $accentColor;
    @include click;
    &:hover {
      filter: brightness(0.85);
    }
  }
}

.partners-section {
  overflow: hidden;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__swiper {
    width: 100%;
    overflow: visible;
    margin-bottom: 199px;
  }
}

.partner-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  &__image-holder {
    width: 100%;
    height: 145px;
    padding: 18px 25px;
    border-radius: 20px;
    box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.1);
    background: $whiteColor;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__heading {
    font-weight: 400;
    @include fluid-font(320px, 1920px, 14px, 20px);
    line-height: 128%;
    text-align: center;
    color: $blackColor;
  }
}

.reviews-section {
  overflow: hidden;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__swiper {
    width: 100%;
    margin-bottom: 278px;
    overflow: visible;
  }
}

.review-card {
  width: 100%;
  height: 503px;
  border-radius: 20px;
  box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.1);
  background: $whiteColor;
  padding-top: 105px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 68px;
  &__content {
    max-width: 920px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 43px;
    border-left: 5px solid $accentColor;
  }

  &__heading {
    font-weight: 700;
    @include fluid-font(320px, 1920px, 14px, 30px);
    line-height: 128%;
    color: $blackColor;
    margin-bottom: 27px;
  }

  &__text {
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 20px);
    line-height: 128%;
    color: $blackColor;
  }

  &__download-link {
    @extend .license-card__download-link;
    padding-top: 10px;
    padding-bottom: 3px;
    margin: 0;
    margin-left: auto;
    margin-top: 56px;
  }
}

@import "./media";
