html,
body {
  width: 100%;
  min-height: 100%;
}

html.no-scroll,
body.no-scroll {
  position: relative;
  overflow: hidden;
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: $mainFont;
  background-color: $whiteColor;
}

h1,
.heading {
  font-weight: 700;
  line-height: 128%;
  color: $blackColor;
  @include fluid-font(320px, 1920px, 36px, 50px);
  span,
  &_accent {
    color: $accentColor;
  }
}

h2,
.subheading {
  text-transform: uppercase;
  margin-bottom: 26px;
  font-weight: 400;
  @include fluid-font(320px, 1920px, 16px, 18px);
  line-height: 128%;
  color: $blackColor;
}
.subheading {
  &_white {
    color: $whiteColor;
  }
}

.page {
  width: 100%;
  min-height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: $wrapperWidth + 32px;
  padding: 0px 16px;
  margin: 0 auto;
  display: flex;
}

p,
.text {
  font-weight: 400;
  @include fluid-font(320px, 1920px, 16px, 20px);
  line-height: 128%;
  color: $blackColor;
}

.section-heading {
  margin-bottom: 30px;
  font-weight: 700;
  @include fluid-font(320px, 1920px, 18px, 35px);
  line-height: 128%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.section-subheading {
  margin-bottom: 49px;
  font-weight: 400;
  @include fluid-font(320px, 1920px, 18px, 35px);
  color: $blackColor;
  line-height: 128%;
  letter-spacing: 0%;
  padding-left: 21px;
  border-left: 9px solid $accentColor;
  text-transform: unset;
}

.breadcrumbs {
  margin-bottom: 76px;
  display: flex;
  align-items: center;
  gap: 69px;
  flex-wrap: wrap;
  &__link {
    position: relative;
    font-weight: 400;
    @include fluid-font(320px, 1920px, 12px, 20px);
    line-height: 128%;
    letter-spacing: 0%;
    color: $blackColor;
    &::after {
      content: "";
      width: 29.5px;
      height: 10px;
      background-image: url("../assets/icons/breadcrumb-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      margin: auto;
      right: -21px - 29.5px;
      bottom: 0;
    }
    &_active {
      color: $accentColor;
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 1023px) {
  h1,
  .heading {
    @include fluid-font(320px, 1920px, 24px, 32px);
  }
}
