$mainFont: "Unbounded", sans-serif;
$blackColor: #121212;
$whiteColor: #fff;
$accentColor: #fea700;
$wrapperWidth: 1440px;
$transitionTime: 0.3s;
$headerBorderRaduis: 15px;
$mainBtnBorderRadius: 10px;
